
/* navigation bar */
#navbar{
    display:flex;
    align-items:center;
    background: rgba(8, 8, 8, 0.4);
    flex-direction:column;
}
/* home-section */
#home{
    display:flex;
    flex-direction: column;
    margin:10px;
    padding:3px 80px;
    align-items:center;
    justify-content:center;
    height:366px;
}
#home h1{
    color:white;
    text-align:center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
    text-align:center;
    font-size: 2.0rem;
    font-family: 'Bree Serif', serif;
}
#home:before{
    height:600px;
}
/* services-section */
.services{
    position: relative;
    top:20px;
}
#services{
    margin:20px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
#services .box {
    border:2px solid rgb(150, 62, 62) ;   
    padding:10px;
    margin:10px;
    border-radius: 25px;
    background-color: rgb(233, 188, 188);
    width:80%;

}
#services .box img{
    height:120px; 
    margin:auto;
    display:block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* client-section */

#client{
   overflow:hidden;
}
#client img{
    height:80px;
}
.items{
    padding:24px;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
}
#contact-box form{
   width:60%;
}
#contact-box{
   font-size:1.3rem;
}

#contact input,#contact textarea{
    width:40%;
    font-size:25px;
}

/* utility-classes */
.h-primary{
    font-size:2.0rem;
    font-family: 'Bree Serif', serif;
}
.h-primary2{
    font-size:2.8rem;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size:2.0rem;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding:8px 20px;
    margin-top:30px;
    border:2px solid white;
    background-color:rgb(150, 62, 62);
    border-radius: 20px;
    color:white;
    font-size:2.0rem;
    cursor:pointer;
}
